<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="jp.ramgap.backend.repository.StockMapper">
    <!-- マッピング定義（保有株情報） -->
    <resultMap id="StockResultMap" type="jp.ramgap.backend.domain.stock.model.Stock">
        <id column="stock_id" property="stockId" />
        <result column="user_id" property="userId" />
        <result column="symbol" property="symbol" />
        <result column="purchase_price" property="purchasePrice" javaType="java.math.BigDecimal" />
        <result column="quantity" property="quantity" />
        <result column="target_price" property="targetPrice" javaType="java.math.BigDecimal" />
        <result column="cutloss_price" property="cutlossPrice" javaType="java.math.BigDecimal" />
        <result column="created_at" property="createdAt" javaType="java.time.LocalDateTime" />
        <result column="updated_at" property="updatedAt" javaType="java.time.LocalDateTime" />
    </resultMap>

    
    <!-- 株情報1件登録 -->
    <insert id="insertOne" parameterType="jp.ramgap.backend.domain.stock.model.Stock">
        insert into stocks( user_id, symbol, purchase_price, quantity, target_price, cutloss_price)
        values ( #{userId} , #{symbol} , #{purchasePrice} , #{quantity} , #{targetPrice} , #{cutlossPrice} )
    </insert>

    <!-- ユーザーの保有株情報全体を取得 -->
    <select id="findStocksByUserId" resultMap="StockResultMap">
        select * from stocks where user_id = #{userId}
    </select>
</mapper>