[mysqld]
#error log
log-error = /var/log/mysql/mysql-error.log

#slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 1.0

#general log
general_log = 1
general_log_file = /var/log/mysql/mysql-general.log
